<nav class="navbar bg-dark">
    <img src="https://ih1.redbubble.net/image.1359473912.0834/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg" height="100" class="d-inline-block align-top mx-auto" alt="burger">
</nav>
<br>
<h1>Burger Paradise</h1>
<div class="container my-5">
    <div class="row">
        <div class="col">
            {{> uneaten-burger }}
        </div>
        <div class="col">
            {{> burger-list }}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 offset-md-3">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Burger Name" aria-label="Burger Name" id="burgerName">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="addBurger">Add</button>
                </div>
            </div>
        </div>
    </div>
</div>